body {
  background-color: #2d2d2d;
  max-width: 800px;
}

body, 
a {
  color: #cccccc;
  line-height: 120%;
}

body,
pre {
  font-family: 'Ubuntu Mono', sans-serif;
}

.cmd,
.arg,
.red,
.str {
  font-weight: bold;
}

.cmd {
  color: #9ec400;
}

.str {
  color: #6699cc;
}

.arg {
  color: #b777e0;
}

.red {
  color: #ff3334;
}
